:root {
    --links: rgb(143, 143, 143);
}
body, html {
    height: 100%;
    margin: 0;
    font-family: 'Trebuchet MS';
}

.acc-section {
    font-size: 15px;
    margin-right: auto;
    margin-left: auto;
    margin-top: 2%;
    background: white;
    padding-top: 1%;
    padding-right: 5%;
    padding-left: 5%;
    padding-bottom: 12%;
    height: 520px;
    width: 510px;
    text-align: center;
    color: var(--links);
    opacity: 0.7;
}
/* input[type=text] {
    width: 40%;
    padding: 5px 30px;
    margin: 12px 0;
    display: inline-block;
    border: 2px solid grey;
    box-sizing: border-box;
    color: var(--links);
    cursor: pointer;
    font-size: 10px;
} */
.acc-buttons {
    padding-top: 1%;
}
/* button {
    background-color: grey;
    color: white;
    padding: 10px 20px;
    margin: 4px 0;
    border: none;
    cursor: pointer;
    width: 30%;
} */
button:hover {
    opacity: 0.8;
}
.acc-title {
    background: white;
    color: var(--links);
    font-size: 45px;
    padding-bottom: 10px;
}
label {
    color: var(--links);
}

select {
    font-size: 10px;
    color: var(--links);
    border: 2px solid grey;
}
option {
    color: white;
    background-color: grey;
    opacity: 0.7;
}
@media screen and (max-width: 600px) {
    .acc-section {
        font-size: 15px;
        display: block;
        margin-right: auto;
        margin-left: auto;
        margin-top: 5%;
        background: white;
        height: 500px;
        width: 300px;
        text-align: center;
        color: var(--links);
        opacity: 0.7;
    }
    input[type=text] {
        font-size: 10px;
        width: 70%;
        padding: 6px 2px;
        margin: 10px;
        display: inline-block;
        border: 2px solid grey;
        box-sizing: border-box;
        color: var(--links);
        cursor: pointer;
    }
    input[type=password] {
        font-size: 10px;
        width: 70%;
        padding: 6px 2px;
        margin: 10px;
        display: inline-block;
        border: 2px solid grey;
        box-sizing: border-box;
        color: var(--links);
        cursor: pointer;
    }
    .acc-title {
        font-size: 30px;
    }
    button {
        font-size: 10px;
        background-color: grey;
        color: white;
        padding: 12px 20px;
        margin: 8px;
        border: none;
        cursor: pointer;
        width: 30%;
    }
    button:hover {
        opacity: 0.8;
    }
    label {
        font-size: 8px;
    }
}