:root {
    --links: rgb(143, 143, 143);
}
body, html {
    height: 100%;
    margin: 0;
    font-family: 'Trebuchet MS';
}

.title {
    background: white;
    color: var(--links);
    font-size: 40px;
    padding-bottom: 25px;
}
.register-account {
    font-size: 28px;
    display: block;
    margin-right: auto;
    margin-left: auto;
    margin-top: 3%;
    background: white;
    padding-top: 3%;
    padding-right: 5%;
    padding-left: 5%;
    height: 520px;
    width: 400px;
    text-align: center;
    color: var(--links);
    opacity: 0.7;
}
input[type=text] {
    width: 80%;
    padding: 13px 30px;
    margin: 8px 0;
    display: inline-block;
    border: 2px solid grey;
    box-sizing: border-box;
    color: var(--links);
    cursor: pointer;
}
input[type=password] {
    width: 80%;
    padding: 13px 30px;
    margin: 8px 0;
    display: inline-block;
    border: 2px solid grey;
    box-sizing: border-box;
    cursor: pointer;
}
.reg-buttons {
    padding-top: 5%;
}
button {
    background-color: grey;
    color: white;
    padding: 15px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 80%;
}
button:hover {
    opacity: 0.8;
}
.reg-title {
    color: var(--links);
    background: white;
    font-size: 45px;
    padding-bottom: 25px;
}
label {
    color: var(--links);
}


@media screen and (max-width: 600px) {
    .register-account {
        font-size: 20px;
        display: block;
        margin-right: auto;
        margin-left: auto;
        margin-top: 14%;
        background: white;
        padding-top: 3%;
        padding-right: 5%;
        padding-left: 5%;
        height: 430px;
        width: 300px;
        text-align: center;
        color: var(--links);
        opacity: 0.7;
    }
    input[type=password] {
        font-size: 10px;
        width: 70%;
        padding: 6px 2px;
        margin: 10px;
        display: inline-block;
        border: 2px solid grey;
        box-sizing: border-box;
        color: var(--links);
        cursor: pointer;
    }
    .reg-title {
        font-size: 30px;
    }
    .oo {
        font-size: 20px;
    }
}