:root {
    --navHover: rgb(165, 110, 42);
    --links: rgb(145, 85, 13);
}
body, html {
    height: 100%;
    margin: 0;
    font-family: 'Trebuchet MS';
}
.nav {
    list-style-type: none;
    margin: 0;
    overflow: auto;
    background: #ffff;
    opacity: 0.7;
}
li {
    display: inline-block;
    font-size: 55px;
    padding-left: 50px;
    padding-top: 15px;
    padding-bottom: 15px;
    color: var(--navHover);
}
a:link {
    color: var(--navHover);
}
a:visited 
{
    color: var(--links);
}
li:hover {
    color: var(--navHover);
    cursor: pointer;
    opacity: 0.8;
}
.home-img {
    background-image: url("./images/Air-Fryer-Glazed-Donuts-New-2.jpg");
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.welcomeMessage {
    color: black;
    font-size: 200%;
    text-align: center;
    padding: 10px;
    margin-top: 10%;
    margin-bottom: auto;
    margin-right: auto;
    margin-left: auto;
}
.bottom {
    background-color: white;
    color: var(--navHover);
    text-align: center;
    margin-top: 18.9%;
    padding: 3px;
    opacity: 0.7;
}