:root {
    --navHover: rgb(182, 182, 182);
    --links: rgb(255, 255, 255);
}
body, html {
    height: 100%;
    margin: 0;
    font-family: 'Trebuchet MS';
}
.login-nav {
    list-style-type: none;
    margin: 0;
    overflow: auto;
    background: #6c6c6c;
    opacity: 0.7;
}
li {
    display: inline-block;
    font-size: 55px;
    padding-left: 60px;
    padding-top: 15px;
    padding-bottom: 15px;
    color: var(--navHover);
}
a:link {
    color: var(--navHover);
}
a:visited 
{
    color: var(--links);
}
a:hover {
    color: var(--navHover);
    opacity: 0.8;
    cursor: pointer;
}
.login-img {
    background-image: url("../images/film-background-8jub8e0yf7p33omg.jpg");
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.title {
    background: #6c6c6c;
    color: var(--navHover);
    font-size: 45px;
    padding-bottom: 25px;
}
.logging-in {
    font-size: 30px;
    margin-right: auto;
    margin-left: auto;
    margin-top: 3%;
    background: #6c6c6c;
    padding-top: 4%;
    padding-right: 5%;
    padding-left: 5%;
    padding-bottom: 12%;
    height: 300px;
    width: 500px;
    text-align: center;
    color: var(--navHover);
    opacity: 0.7;
}
input[type=text] {
    width: 80%;
    padding: 13px 30px;
    margin: 8px 0;
    display: inline-block;
    border: 2px solid var(--navHover);
    box-sizing: border-box;
    color: var(--navHover);
    cursor: pointer;
}
input[type=password] {
    width: 80%;
    padding: 13px 30px;
    margin: 8px 0;
    display: inline-block;
    border: 2px solid var(--navHover);
    box-sizing: border-box;
    cursor: pointer;
}
.buttons {
    padding-top: 5%;
}
button {
    background-color: white;
    color: grey;
    padding: 12px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 80%;
}
button:hover {
    opacity: 0.8;
}
.title {
    color:white;
}
label {
    color: white;
}
.bottom {
    background: #6c6c6c;
    color: var(--links);
    text-align: center;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    opacity: 0.7;
}