:root {
    --navHover: rgb(165, 110, 42);
    --links: rgb(145, 85, 13);
}
body, html {
    height: 100%;
    margin: 0;
    font-family: 'Trebuchet MS';
}
.registration-nav {
    list-style-type: none;
    margin: 0;
    overflow: auto;
    background: #ffff;
    opacity: 0.7;
}
li {
    display: inline-block;
    font-size: 55px;
    padding-left: 50px;
    padding-top: 15px;
    padding-bottom: 15px;
    color: var(--navHover);
}
a:link {
    color: var(--navHover);
}
a:visited 
{
    color: var(--links);
}
a:hover {
    color: var(--navHover);
    cursor: pointer;
    opacity: 0.8;
}
.registration-img {
    background-image: url("../images/Air-Fryer-Glazed-Donuts-New-2.jpg");
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.title {
    background-color: white;
    color: var(--navHover);
    font-size: 40px;
    padding-bottom: 25px;
}
.register-account {
    font-size: 28px;
    display: block;
    margin-right: auto;
    margin-left: auto;
    margin-top: 3%;
    background-color: white;
    padding-top: 3%;
    padding-right: 5%;
    padding-left: 5%;
    height: 520px;
    width: 500px;
    text-align: center;
    color: var(--navHover);
    opacity: 0.7;
}
input[type=text] {
    width: 80%;
    padding: 13px 30px;
    margin: 8px 0;
    display: inline-block;
    border: 2px solid var(--navHover);
    box-sizing: border-box;
    color: var(--navHover);
    cursor: pointer;
}
input[type=password] {
    width: 80%;
    padding: 13px 30px;
    margin: 8px 0;
    display: inline-block;
    border: 2px solid var(--navHover);
    box-sizing: border-box;
    cursor: pointer;
}
.buttons {
    padding-top: 5%;
}
button {
    background-color: var(--navHover);
    color: white;
    padding: 12px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 80%;
}
button:hover {
    opacity: 0.8;
}
.regBottom {
    background-color: white;
    color: var(--navHover);
    text-align: center;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    opacity: 0.7;
}